body {
    background-color: aliceblue;
}

button {
    font-family: 'Courier New', Courier, monospace;
    width: auto;
    border: none;
    padding: 5px 10px;
    background-color: rgb(171, 154, 255);
}

#container {
    background-color: rgb(237, 231, 255);
    font-family:'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    margin: 100px auto;
    border: 30px solid rgb(171, 154, 255, .5);
    border-radius: 100px;
    box-shadow: 1px 1px 20px #afafaf;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    padding-top: 50px;
}

#selection {
    text-align: center;
}

#board {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    border: 1px solid rgb(162, 162, 162);
    margin: 50px auto 100px auto;
}

#footer {
    font-size: .75em;
    font-weight: bold;
    padding-bottom: 30px;

}

#blkBtn:hover {
    background-color: black;
    cursor: pointer;
    color: white;
}

#blueBtn:hover {
    background-color: rgb(201, 201, 201);
    cursor: pointer;
    color: rgb(47, 47, 47);
}

#randomBtn:hover {
    background: linear-gradient(
        90deg,
        rgba(255, 0, 0, 1) 0%,
        rgba(255, 154, 0, 1) 10%,
        rgba(208, 222, 33, 1) 20%,
        rgba(79, 220, 74, 1) 30%,
        rgba(63, 218, 216, 1) 40%,
        rgba(47, 201, 226, 1) 50%,
        rgba(28, 127, 238, 1) 60%,
        rgba(95, 21, 242, 1) 70%,
        rgba(186, 12, 248, 1) 80%,
        rgba(251, 7, 217, 1) 90%,
        rgba(255, 0, 0, 1) 100%
    );
    cursor: pointer;
    color: white;
}

#clearBtn:hover, #inputEnterBtn:hover {
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    color: rgb(171, 154, 255);
}

#hint {
    font-size: .8em;
    font-weight: bold;
    margin-bottom: 20px;

}

.cell {
    border: 1px solid rgb(239, 239, 239);
}